    

    #button-addon2{
        color:white;        
        }
        
        #lista > li > a {
        text-decoration: none; 
        color: grey; 
        
        }
        
        #lista > li{
        list-style-type: ;   
        }
        
        #input1{
        height: 60px;
        }

        #cards{
            margin-bottom: 10px;
        }