<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeConnect</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/Styles/all.css">
    <link rel="stylesheet" href="../static/Styles/noticias.css">
    <link rel="shortcut icon" href="../images/icone.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header"></header>
    <script src="../static/code/header.js"></script>
    <main>
        <!--Conteúdo da pagina aqui-->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card w-100" style="width: 18rem;">
                        <img src="../images/postImgs/processador.jpg" height="400px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title " id="textcard">Qual processador escolher?</h6>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p id="text" class="text-aling-center">Escolher o processador certo para o seu computador é
                            muito importante. Dependendo
                            do tipo
                            de uso desejado e do hardware disponível, comprar o chip errado pode significar pagar a mais
                            sem
                            necessidade ou até limitar o desempenho de uma máquina que deveria ser poderosa. Enquanto a
                            Intel
                            oferece diferentes modelos de Core i3, Core i5, Core i7 e Core i9, a AMD faz o mesmo com os
                            Ryzen 3,
                            Ryzen 5, Ryzen 7 e Ryzen 9, o que pode confundir o usuário na hora de comprar.

                            Além disso, há opções no mercado como os Intel Celeron e AMD Athlon, que podem ser
                            interessantes
                            para computadores mais básicos, mas pouco indicados para máquinas de performance
                            intermediária, ou
                            até os Intel Xeon e Ryzen Pro, mais voltados para máquinas poderosas. Pensando nisso, o
                            TechTudo
                            separou dicas que podem ajudar o usuário a escolher o melhor processador para montar ou
                            melhorar seu
                            PC. </p>
                    </div>
                </div>


            </div>


        </div>

    </main>
    <footer id="footer"></footer>
    <script src="../static/code/footer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>