<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wireframe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <meta charset=”UTF-8″>
    <link rel="stylesheet" href="../static/postagem.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="stylesheet" href="TIAW-Trabalho-main/CodeConnect/static/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <header id="header"></header>
    <script src="../static/code/header.js"></script>

    <div class="row justify-content-center mt-3">
        <div class="col-8 col-lg-5 ">
            <div class="input-group mb-3 w-100">
                <input type="text " id="input1" class="form-control w-25" placeholder="O que quer saber hoje?"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button id="bbusca" class="btn btn-secondary btn btn-outline-secondary text-light w- " type="button"
                    id="button-addon2">Buscar</button>
            </div>
        </div>
    </div>



    <div id="cards" class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-10 col-md-8 col-lg-3  col-sm-10 mb-3 col-xl-3 ">
            <div class="card w-100" style="width: 18rem; ">
                <img src="ims/react1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title ">React ou angular?</h6>
                    <p class="card-text"></p>
                    <a id="bver" href="#" class="btn btn-secondary w-100">Ver sobre</a>
                </div>
            </div>
        </div>



        <div class="col-10 col-md-8 col-lg-3 col-sm-10 col-xl-3 mb-3">
            <div class="card w-100 " style="width: 18rem;">
                <img src="ims/operador (1).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Como usar operador ternário?</h6>
                    <p class="card-text"></p>
                    <a id="bver" href="#" class="btn btn-secondary w-100">Ver sobre</a>
                </div>
            </div>
        </div>

        <div class="col-10 col-md-8 col-lg-3 col-sm-10 col-xl-3 mb-3">
            <div class="card w-100 " style="width: 18rem;">
                <img src="ims/unity.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title w-100">Unity ou Unreal? <p></p>
                        <p></p>
                    </h6>
                    <p class="card-text"></p>
                    <a id="bver" href="#" class="btn btn-secondary w-100">Ver sobre</a>
                </div>
            </div>
        </div>



        <div class="col-0 col-sm-0 col-md-0 col-lg-2 ">
            <ul id="lista">
                <li class=""><a href=""> Assuntos populares </a></li>
                <li class=""><a href=""> Hardware </a></li>
                <li class=""><a href=""> Sofware </a></li>
                <li class=""><a href=""> Processadores </a></li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-3  col-sm-10 mb-3 col-xl-3 ">
            <div class="card w-100" style="width: 18rem; ">
                <img src="ims/react1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title ">React ou angular?</h6>
                    <p class="card-text"></p>
                    <a id="bver" href="#" class="btn btn-secondary w-100">Ver sobre</a>
                </div>
            </div>
        </div>



        <div class="col-10 col-md-8 col-lg-3 col-sm-10 col-xl-3 mb-3">
            <div class="card w-100 " style="width: 18rem;">
                <img src="ims/operador (1).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Como usar operador ternário?</h6>
                    <p class="card-text"></p>
                    <a id="bver" href="#" class="btn btn-secondary w-100">Ver sobre</a>
                </div>
            </div>
        </div>

        <div class="col-10 col-md-8 col-lg-3 col-sm-10 col-xl-3 mb-3">
            <div class="card w-100 " style="width: 18rem;">
                <img src="ims/unity.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title w-100">Unity ou Unreal? <p></p>
                        <p></p>
                    </h6>
                    <p class="card-text"></p>
                    <a id="bver" href="#" class="btn btn-secondary w-100">Ver sobre</a>
                </div>
            </div>
        </div>



        <div class="col-0 col-sm-0 col-md-0 col-lg-2 ">

        </div>
    </div>


    <footer id="footer" class="">
        <div class="row mt-5">
            <script src="../static/code/footer.js"></script>
    </footer>



</body>






</html>